.socialBar {
    position: fixed;
    bottom: 0;
    left: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 100;
}

/* Vertical Line */
.socialBar::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: var(--text-muted);
    margin: 0 auto;
}

.socialBar a {
    color: var(--text-muted);
    font-size: 1.4rem;
    transition: all 0.2s ease;
}

.socialBar a:hover {
    color: var(--primary);
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    .socialBar {
        display: none;
    }
}