.my-footer {
    padding: 2rem 1rem;
    text-align: center;
    background-color: var(--bg-dark);
    font-family: var(--font-code);
    font-size: 0.9rem;
    color: var(--text-muted);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer-logo {
    width: 40px;
    height: auto;
    filter: grayscale(100%);
    transition: 0.3s ease;
    opacity: 0.5;
}

.footer-logo:hover {
    filter: none;
    opacity: 1;
    transform: rotate(360deg);
}

.my-footer span {
    color: var(--primary);
}